:root {
    --primary-color: #4CAF50; /* Base Green Color */
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --dark-bg: #222;
    --light-bg: #fff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--light-bg);
    padding: 1em;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: var(--light-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar .progress {
    height: 20px;
    background: var(--primary-color);
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: var(--light-bg) url('https://scontent.xx.fbcdn.net/v/t1.15752-9/471324155_577242181940889_1431710478816428567_n.png?_nc_cat=100&ccb=1-7&_nc_sid=0024fc&_nc_ohc=nh0RR7Iz5y4Q7kNvgGQOdVa&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1gEy58XJuxYmSjMAUM73LuKBKMKEpxiCk9FemjvyQeX2fQ&oe=67A228D8') no-repeat right center;
    background-size: right;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
